/* Footer */
.footer {
  background-color: #222222;
  border-top: 4px solid var(--primary-color);
  padding-top: 12px;
}

.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-list {
  padding-left: 0;
  list-style: none;
}

.footer-item__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
  padding: 2px 0;
  display: flex;
  font-weight: 500;
  align-items: center;
  cursor: pointer; /* Add pointer cursor on hover */
}

.footer-item__link:hover {
  color: var(--primary-color);
}

.footer-item__icon {
  font-size: 1.7rem;
  margin: -1px 8px 0 0;
}

.footer__download {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__download-app-img {
  max-width: 160px;
  height: 20px;
  text-decoration: none;
  color: transparent;
}

.footer__bottom {
  background-color: #1a1a1a;
  padding: 12px 0;
  margin-top: 35px;
}

.footer__text {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
}
.grid__row {
  justify-content: space-between;
}
