.profile_content {
  padding: 12px 0 12px 0;
}
.profile_container {
  width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: var(--white-color);
}
.profile_title {
  font-size: 20px;
  font-weight: bold;
}

.profile_subtitle {
  font-size: 14px;
  color: gray;
  margin-bottom: 8px;
  margin-top: 8px;
}

.profile_label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 12px;
}

.profile_input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile_email,
.profile_phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile_change {
  color: blue;
  cursor: pointer;
}

.profile_gender_wrapper {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  gap: 15px; /* Khoảng cách giữa "Giới tính" và các lựa chọn */
}

.profile_gender {
  display: flex;
  gap: 10px; /* Khoảng cách giữa các lựa chọn */
}

.profile_gender label {
  display: flex;
  align-items: center;
  gap: 5px; /* Khoảng cách giữa radio button và chữ */
  cursor: pointer;
  position: relative;
  top: 5px; /* Đẩy các radio button + chữ xuống một chút */
}

.profile_dob {
  display: flex;
  gap: 5px; /* Tạo khoảng cách giữa các ô */
}

.profile_dob input {
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 2px;
  width: 33%; /* Điều chỉnh độ rộng */
  height: 25px;
  margin-top: 10px;
}

.profile_button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: var(--primary-color);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile_button:hover {
  background: #c0392b;
}
