@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --color-main: #1a202e;
  --color-text: #fff;
  --color-border: #efefef;
  --color-li: #efefef;
  --color-menu-header: #8da2fb;
  --color-content: #f1f5f9;
  --color-button1: #5850ec;
  --color-active: orange;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
input {
  outline: none;
}
#navbar-toggle {
  display: none;
}
.body-label {
  position: fixed;
  height: 100%;
  width: calc(100% - 280px);
  z-index: 30;
  right: -100%;
  top: 0;
}
#navbar-toggle:checked ~ .navbar {
  left: -100%;
}
#navbar-toggle:checked ~ .main-content header {
  left: 0;
  width: 100%;
  right: 0;
}
#navbar-toggle:checked ~ .main-content {
  margin-left: 0;
}
.navbar {
  width: 280px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 1rem 1.5rem;
  background: var(--color-main);
  color: var(--color-text);
  z-index: 20;
  transition: left 300ms;
}
.navbar-brand {
  height: 70px;
}
.brand-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-icons span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
.brand-flex button {
  background-color: var(--color-main);
  color: var(--color-text);
  font-size: 2rem;
  margin-left: 0.5rem;
}
.navbar-user {
  margin: 1rem 0rem;
  text-align: center;
}
.navbar-user img {
  width: 50%;
  border: 2px solid var(--color-border);
}
.navbar-user h3 {
  font-size: 2rem;
}
.navbar-user span {
  font-size: 1.2rem;
}
.navbar-menu {
  margin-top: 3rem;
}
.navbar-menu a.active {
  background: var(--color-active);
  color: var(--color-text);
  border-radius: 5px;
  padding: 5px;
}
.menu-head {
  text-transform: uppercase;
  color: var(--color-menu-header);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.navbar-menu ul {
  margin-bottom: 1.5rem;
}
.navbar-menu li {
  margin-bottom: 0.9rem;
}
.navbar-menu li a {
  color: var(--color-li);
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.navbar-menu li a span {
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 0.8rem;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-border);
  padding: 1rem 1.5rem;
  position: fixed;
  left: 280px;
  width: calc(100% - 280px);
  top: 0;
  z-index: 20;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  transition: left 300ms;
}
.menu-toggle label {
  height: 60px;
  width: 60px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
  margin-left: -24px;
}

.menu-toggle label:hover {
  background: var(--color-border);
}
.main-content {
  margin-left: 280px;
  transition: margin-left 300ms;
}
.main-content .search {
  display: flex;
  width: 300px;
  border-radius: 10px;
  overflow-x: hidden;
  border: 1px solid #3e454d;
  align-items: center;
}
.main-content .search input {
  flex: 1;
  height: 35px;
  border: none;
  background: transparent;
  padding: 1rem;
  color: var(--color-main);
}
.main-content .search span {
  font-size: 1.4rem;
  color: var(--color-main);
  padding-right: 0.8rem;
}
main {
  padding: 1.5rem;
  background: var(--color-content);
  min-height: calc(100vh - 70px);
  margin-top: 70px;
}
@media only screen and (max-width: 1124px) {
  .navbar {
    left: -100%;
    z-index: 30;
  }
  .main-content {
    margin-left: 0;
  }
  header {
    left: 0;
    width: 100%;
  }
  #navbar-toggle:checked ~ .navbar {
    left: 0;
  }
  #navbar-toggle:checked ~ .body-label {
    left: 0;
  }
}
.navbar-menu a .las {
  font-size: 10px;
}
.link-button {
  background: none;
  border: none;
  color: inherit;
  text-align: left;
  width: 100%;
  padding: 10px 0;
  font-size: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.link-button:hover {
  color: #ff6600;
}
.buyer-switch {
  padding: 5px;
  /* background-color: #f5f5f5; */
  text-align: center;
  /* border-bottom: 1px solid #ddd; */
}

.buyer-button {
  font-size: 14px;
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}

.buyer-button:hover {
  background-color: #0056b3;
}