body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.header {
  height: 120px;
  background-image: linear-gradient(0, #ec4633, #f15b35);
  padding-top: 10px;
}
.header__navbar {
  display: block;
  margin-left: 10px;
}
.header__navbar-link:hover {
  color: rgba(241, 219, 219, 0.801);
}
.Home__button {
  padding-right: 10px;
}
.header__navbar-link {
  text-decoration: none;
  color: var(--white-color);
  font-size: 15px;
}
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
  justify-content: space-between;
}
.header__logo {
  width: 200px;
}
.header__logo-img {
  display: flex;
  align-items: center;
}

.header__logo-img a {
  display: flex;
  align-items: center;
  text-decoration: none; /* Loại bỏ gạch chân */
  font-size: 18px;
  font-weight: bold;
  color: #f6e9e7;
}

.header__logo-img img {
  width: 40px;
  height: auto;
  margin-right: 8px;
}
.header__search {
  flex: 1;
  height: 40px;
  border-radius: 2px;
  background: var(--white-color);
  display: flex;
  align-items: center;
  max-width: 500px;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}
.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  border-radius: 2px;
  margin-right: 3px;
  width: 60px;
  outline: none;
}
.header__search-btn:hover {
  background-color: var(--primary-color);
  opacity: 0.8;
  cursor: pointer;
}

.header__search-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}
.header__search-select:hover .header__search-option {
  display: block;
}
.header__search-option {
  position: absolute;
  right: 0;
  top: 100%;
  width: 122px;
  list-style: none;
  margin-top: 14px;
  box-shadow: 0 1px 2px #c5c5c5;
  padding-left: 0;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.3s;
  z-index: 1;
}
.header__search-option::after {
  content: "";
  display: block;
  width: 100%;
  height: 15px;
  top: -15px;
  left: 0;
  position: absolute;
}
.header__search-option-item {
  background-color: var(--white-color);
  border-radius: 2px;
  padding: 8px;
}
.header__search-option-item:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.header__search-option-item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}
.header__search-option-item i {
  font-size: 1rem;
  color: var(--primary-color);
  margin-left: 12px;
  display: none;
}
.header__search-option-item--active i {
  display: inline-block;
  /* thêm back-end để chọn cái dấu tích */
}
.header__search-input:focus ~ .header__search-history {
  display: block;
}
/* search history */
.header__search-history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 5px #c9c9c9;
  display: none;
  overflow: hidden;
  z-index: 1;
}
.header__search-history-heading {
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}
.header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0 0;
}
.header__search-history-item {
  height: 38px;
  padding: 0 12px;
}

.header__search-history-item:hover {
  background-color: #fafafa;
}
.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 38px;
  color: var(--text-color);
  display: block;
}
/* khi không có hàng */
.cart-container--nocart {
  text-align: center;
  margin-top: 20px;
  display: none;
  /* none khi có sản phẩm */
}
.cart__img-nocart {
  width: 150px;
}
.buy-now {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
/* khi có hàng  */
.cart-container {
  width: 90%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cart-container__exist {
  /* none khi không có sản phẩm */
  display: block;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.cart-item img {
  width: 80px;
  border-radius: 5px;
}
.cart-item .info {
  flex: 1;
  margin-left: 10px;
  font-size: 1.5rem;
  margin-top: -25px;
}
.cart-item .price {
  color: #ff5722;
  font-weight: 550;
}
.cart-item .quantity input {
  width: 40px;
  text-align: center;
}
.checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
/* .checkout button {
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
  } */
.checkout a {
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
}
/* .checkout button:hover {
    opacity: 0.8;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  } */
.checkout strong {
  color: var(--primary-color);
  font-size: large;
  font-weight: 500;
}
.cart-item-list {
  margin: 0;
  padding: 0;
}
.cart-item-list__li {
  text-decoration: none;
  list-style: none;
}
.quantity button {
  background-color: var(--white-color);
  border: 1px solid;
  border-radius: 2px;
  height: 20px;
  width: 25px;
  cursor: pointer;
}
.quantity input {
  height: 20px;
  width: 30px;
}
.delete {
  height: 30px;
  width: 95px;
  margin-top: 5px;
  color: var(--white-color);
  background-color: rgb(255, 87, 34);
  opacity: 0.8;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
.delete:hover {
  opacity: 1;
}
.cart-button {
  display: block;
}
/* footer */
.footer {
  border-top: 4px solid var(--primary-color);
  padding-top: 12px;
}
.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color);
}
.footer-list {
  padding-left: 0;
  list-style: none;
}
.footer-item__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 2px 0;
  display: flex;
  font-weight: 500;
  align-items: center;
}
.footer-item__link:hover {
  color: var(--primary-color);
}
.footer-item__icon {
  font-size: 1.7rem;
  margin: -1px 8px 0 0;
}
.footer__download {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__download-app-img {
  max-width: 160px;
  height: 20px;
  text-decoration: none;
  color: transparent;
}
.footer__bottom {
  background-color: #f5f5f5;
  padding: 12px 0;
  margin-top: 24px;
}
.footer__text {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  color: #737373;
  font-weight: 600;
}
