.table-responsive-yeah {
  /* margin-left: 270px;  */
  padding: 20px;
  box-sizing: border-box;
  overflow-x: auto;
  min-height: auto;
}

table {
  border-collapse: collapse;
  width: max-content; 
  min-width: 1000px;
}
th {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

button {
  margin-right: 5px;
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:first-child {
  background-color: #4CAF50;
  color: white;
}

button:last-child {
  background-color: #3F51B5;
  color: white;
}
